In [1]:
import pandas as pd
from collections import Counter
import itertools as it

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
159,tt2180411,50000000,212902372,Into the Woods,Meryl Streep|Emily Blunt|James Corden|Anna Ken...,Rob Marshall,Be careful what you wish for...,In a woods filled with magic and fairy tale ch...,125,Fantasy|Comedy|Music,Walt Disney Pictures|Marc Platt Productions|Lu...,12/25/2014,5.6,2014
969,tt0279493,25000000,41604473,Undercover Brother,Eddie Griffin|Chris Kattan|Denise Richards|Aun...,Malcolm D. Lee,He's All Action,"An Afro-American organization, the B.R.O.T.H.E...",86,Action|Comedy,Universal Pictures,5/31/2002,5.4,2002
38,tt1398426,28000000,201634991,Straight Outta Compton,O'Shea Jackson Jr.|Corey Hawkins|Jason Mitchel...,F. Gary Gray,The Story of N.W.A.,"In 1987, five young men, using brutally honest...",147,Drama|Music,New Line Cinema|Universal Pictures|Legendary P...,8/13/2015,7.7,2015
801,tt0905372,35000000,28128670,The Thing,Mary Elizabeth Winstead|Joel Edgerton|Ulrich T...,Matthijs van Heijningen Jr.,It's Not Human. Yet.,When paleontologist Kate Lloyd travels to an i...,103,Horror|Science Fiction|Mystery|Thriller,Universal Pictures|Strike Entertainment|Morgan...,10/12/2011,6.0,2011
211,tt3322940,6500000,255273813,Annabelle,Annabelle Wallis|Alfre Woodard|Eric Ladin|Tony...,John R. Leonetti,"Before the Conjuring, there was Annabelle.",John Form has found the perfect gift for his e...,99,Horror,New Line Cinema|The Safran Company|Evergreen M...,10/2/2014,5.6,2014

In [3]:
display(data.describe())
print(data.info())

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB
None

# Предобработка

In [4]:
answers = {}
data['profit'] = data['revenue'] - data['budget']
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = [m.strftime('%B') for m in data.release_date]
data['title_length'] = [len(t) for t in data['original_title']]


"""
Function receives the list of numbers and find the mean value of that numbers
It is used in the quetsions 24 and 25
"""


def mean_counter(numbers):
    return sum(numbers)/len(numbers)

In [5]:
display(data.head())

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,June,14
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,May,18
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,March,9
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,December,28
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,April,9

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
"""
We filter the dataset according to the condition that the value of budget is maximum. 
And save the title in our dictionary
"""
answers['1'] = data[data['budget'] ==
                    data['budget'].max()]['original_title'].values[0]

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
"""
We filter the dataset according to the condition that the value of runtime is maximum. 
And save the title in our dictionary
"""
answers['2'] = data[data.runtime ==
                    data.runtime.max()]['original_title'].values[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
"""
We filter the dataset according to the condition that the value of runtime is minimum. 
And save the title in our dictionary
"""
answers['3'] = data[data.runtime ==
                    data.runtime.min()]['original_title'].values[0]

# 4. Какова средняя длительность фильмов?

In [9]:
"""
We find the mean value of runtime and round it to the nearest unit,
because we want integer in our answer. 
And save the result in our dictionary
"""
answers['4'] = round(data.runtime.mean(), 0)

# 5. Каково медианное значение длительности фильмов?

In [10]:
"""
We find the median value of the runtime. 
And save the value in our dictionary
"""
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
"""
We filter the dataset according to the condition that the value of profit is maximum.
And save the title in our dictionary
"""
answers['6'] = data[data.profit ==
                    data.profit.max()]['original_title'].values[0]

# 7. Какой фильм самый убыточный?

In [12]:
"""
We filter the dataset according to the condition that the value of profit is minimum.
And save the title in our dictionary
"""
answers['7'] = data[data.profit ==
                    data.profit.min()]['original_title'].values[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
"""
We filter the dataset according to the condition that the revenue is more than budget.
Then find the length of this dataframe. 
And save the result in our dictionary
"""
answers['8'] = len(data[data.revenue > data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
"""
We fillter the dataset according to the condition that the release_year is 2008.
And save the filtered dataset in the new variable. 
Then we filter new dataset with the condition that revenue is maximum.
And save the result in our dictionary
"""
data_2008 = data[data.release_year == 2008]
answers['9'] = data_2008[data_2008.revenue ==
                         data_2008.revenue.max()]['original_title'].values[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
"""
We create a new dataset with the release year 2012-2014. 
Then in a new dataset we find the film  with the minimum profit.
And save the title in the dictionary.
"""
data_12_14 = data[(data.release_year > 2012) & (
    data.release_year <= 2014)]
answers['10'] = data_12_14[data_12_14.profit ==
                           data_12_14.profit.min()]['original_title'].values[0]

# 11. Какого жанра фильмов больше всего?

In [16]:
"""
We create a list of all genres and and use Counter to count their frequency.
Then find the most frequent one. 
"""
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

Вариант 2

In [17]:
"""
Or after creating list of all genres, we can convert the list into Series.
Then we can use count_values and save the result in the dictionary.
"""
answers['11'] = pd.Series(data.genres.str.cat(sep='|').split('|')
                          ).value_counts().head(1).index.values[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
"""
We filter the dataset with the condition that profit is more than 0.
And we create the list of all genres in filtered dataset.
Than we use Counter and find the most common genre
"""
Counter(data[data.profit > 0].genres.str.cat(
    sep='|').split('|')).most_common(1)

[('Drama', 560)]

Вариант 2

In [19]:
"""
Or we can convert the list into Series. Then count the frequency of the genres.
"""
answers['12'] = pd.Series(data[data.profit > 0].genres.str.cat(
    sep='|').split('|')).value_counts().head(1).index.values[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [20]:
"""
We create the list of revenue for each director. Then we find the sum of 
their revenue and create a dictionary of directors and their revenues. 
And we convert it into Series in order to save the result in our dictionary m
"""
directors = {d: sum([d for d in data[data.director.str.contains(d)].revenue])
             for d in data.director.str.cat(sep='|').split('|')}
answers['13'] = pd.Series(directors).sort_values(
    ascending=False).head(1).index.values[0]

Вариант 2

In [21]:
"""
Or we can group the dataset by directors and find the sum of their revenue.
"""
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [22]:
# But this method is tricky. Let's check.
print(len(data.groupby(['director'])['revenue'].sum()))
print(len(pd.Series(directors)))

957
997

In [23]:
"""
They are not equal and the grouped dataset is less, 
but their answer to our question is the same. As we see in the grouped dataset, 
there are indexes with several directors.
But in our case it doestn't change anything 
"""
display(data.groupby(['director'])['revenue'].sum())

director
Aaron Seltzer|Jason Friedberg      48548426
Adam McKay                        859076455
Adam Shankman                     873562773
Adam Wingard                        2367161
Adrian Lyne                       119137784
                                    ...
Wong Kar-wai                       21786738
Woody Allen                       279220507
Xavier Gens                        99965753
Zack Snyder                      1602937193
Zal Batmanglij                      2401510
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [24]:
"""
We create a list of directors. Then creat a list for each director with the Action film.
And we find the length of the list, then create a dictionary of directors 
and the amount of action films that they have. 
And we convert it into Series to sort the values
"""
directors = data.director.str.cat(sep='|').split('|')
action_directors = {d: len([g for g in data[data.director.str.contains(
    d)].genres.str.cat(sep='|').split('|') if g == 'Action']) for d in directors}
pd.Series(action_directors).sort_values(ascending=False)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Chris Wedge           0
Jay Duplass           0
Mark Duplass          0
Rodrigo GarcÃ­a       0
Peter Bogdanovich     0
Length: 997, dtype: int64

Вариант 2

In [25]:
"""
Or we can create a list of all directors with Action films.
And use Counter to count their frequecy."""
action_directors = Counter(data[data.genres.str.contains(
    'Action')].director.str.cat(sep='|').split('|'))
action_directors.most_common(1)

[('Robert Rodriguez', 9)]

Вариант 0

In [26]:
"""
We could've just used value_counts, but as we see it gives the wring results,
because director column in our dataset can contain more than one value.
"""
data[data.genres.str.contains('Action')].director.value_counts()

Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Robert Rodriguez      6
Antoine Fuqua         6
                     ..
Philip Kaufman        1
Scott Stewart         1
David Leland          1
Brian Helgeland       1
David Koepp           1
Name: director, Length: 345, dtype: int64

In [27]:
answers['14'] = 'Robert Rodriquez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [28]:
"""
First filter the dataset with the condition that release year is 2012,
save it in the new varible and create a list of all actors in this dataset.
Then we create a dictionary with actors and the sum of the revenue of their films.
"""
data_2012 = data[data.release_year == 2012]
cast = data_2012.cast.str.cat(sep='|').split('|')
dict_actors = {
    x: sum(data_2012[data_2012.cast.str.contains(x)].revenue)for x in cast}
answers['15'] = pd.Series(dict_actors).sort_values(
    ascending=False).head(1).index.values[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [29]:
"""
We create a new dataframe by filtering the dataset according to the condition 
that their budget is higher than the mean budget.
Then we create a list of actors of new dataframe and use Counter.
"""
high_budget_films = data[data.budget > data.budget.mean()]
Counter(high_budget_films.cast.str.cat(sep='|').split('|')).most_common(1)

[('Matt Damon', 18)]

Вариант 2

In [30]:
"""
Or we can convert the list of actors into series and use value_counts
"""
pd.Series(high_budget_films.cast.str.cat(sep='|').split('|')).value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
David Burrows         1
Alessandro Nivola     1
Ryan Gosling          1
Jonathan Groff        1
Vanessa Ferlito       1
Length: 1505, dtype: int64

In [31]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [32]:
"""
We create a list of genres of Nicolas Cage's films.
And use Counter to create a dictionary of genres and their frequency.
"""
Cage_genres = Counter(data[data.cast.str.contains(
    'Nicolas Cage')].genres.str.cat(sep='|').split('|'))
Cage_genres.most_common(1)

[('Action', 17)]

Вариант 2

In [33]:
"""
Or AGAIN we can convert the list into Series
"""
pd.Series((data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(
    sep='|').split('|'))).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Horror              1
Romance             1
War                 1
dtype: int64

In [34]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [35]:
"""
We create a new dataframe with the films of Paramount Pictures.
And filter new dataframe according to the condition that profit is minimum
"""
paramount_films = data[data.production_companies.str.contains(
    'Paramount Pictures')]
answers['18'] = paramount_films[paramount_films.profit ==
                                paramount_films.profit.min()].original_title.values[0]

Вариант 2

In [36]:
"""
Or we can use a lambda function to find the films with Paramount Pictures.
"""
paramount_films_2 = data[data.production_companies.map(
    lambda x:  True if 'Paramount Pictures' in x else False)]
paramount_films_2[paramount_films_2.profit ==
                  paramount_films_2.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [37]:
"""
We create a list of revenue for each year and find the sum of it.
Then we make a dictionary of years and sum value of  their revenue. 
And we convert it to Series to sort the values
"""
all_years_revenue = {
    x: sum(data[data.release_year == x].revenue) for x in data.release_year}
pd.Series(all_years_revenue).sort_values(ascending=False)

2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
dtype: int64

Вариант 2

In [38]:
"""
Or we can group the dataset by realease year.
And find the sum of their revenues.
"""
data.groupby(['release_year']).revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [39]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [40]:
"""
We create a new dataframe wiht Warner Bros films.
And create a list of profit for each year, find the sum of them 
then make a dictionary of years and sum of their profit.
Then just convert the dictionary into Series to sort it by profit.
"""
warners_films = data[data.production_companies.str.contains('Warner Bros')]
all_years_profit = {
    x: sum(warners_films[warners_films.release_year == x].profit)for x in warners_films.release_year}
pd.Series(all_years_profit).sort_values(ascending=False)

2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
dtype: int64

Вариант 2

In [41]:
"""
Or we can group the new dataframe by release year.
And find the sum of profit.
"""
warners_films.groupby(
    ['release_year']).profit.sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [42]:
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [43]:
"""
We make the list of all months.
And then make the list of frequency for each month.
And create a dictionary of months
"""
months = [m.strftime('%B') for m in data.release_date]
films_by_months = {
    m: len([x for x in data.release_date if x.strftime('%B') == m]) for m in months}
pd.Series(films_by_months).sort_values(ascending=False)
# it was my first attempt, now I can see that creating a dictionary wasn't efficient

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
dtype: int64

Вариант 2

In [44]:
"""
Or we can just use Counter
"""
answers['21'] = 'September'
Counter(months)

Counter({'June': 147,
         'May': 140,
         'March': 156,
         'December': 190,
         'April': 149,
         'September': 227,
         'October': 186,
         'February': 135,
         'January': 110,
         'July': 142,
         'November': 146,
         'August': 161})

Вариант 3

In [45]:
"""
Also we can create a column with months, 
which I did in the preprocessing cell above
"""
data.release_month.value_counts()

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [46]:
"""
We create a list of all summer months in dataset.
And find the length of the list.
"""
answers['22'] = len(
    [m for m in data.release_month if m in ['June', 'July', 'August']])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [47]:
"""
We create list of film releasing winter months for each director.
and then create a dictionary of directors"""
winter_directors = {d: len([m for m in data[data.director.str.contains(
    d)].release_month if m in ['December', 'January', 'February']]) for d in data.director.str.cat(sep='|').split('|')}
pd.Series(winter_directors).sort_values(ascending=False)

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Shawn Levy           4
                    ..
David Cronenberg     0
Douglas McGrath      0
Jason Winer          0
Michael Dowse        0
Colin Trevorrow      0
Length: 997, dtype: int64

Вариант 2

In [48]:
"""
Or we can filter the dataset with winter months.
And count the frequeny of each director.
"""
answers['23'] = 'Peter Jackson'
data[(data.release_month == 'December') | (data.release_month ==
                                           'January') | (data.release_month == 'February')].director.value_counts()

Peter Jackson          7
Clint Eastwood         6
Steven Soderbergh      6
Adam Shankman          4
Nancy Meyers           4
                      ..
Guy Ferland            1
Brad Silberling        1
Jeff Schaffer          1
Christopher Spencer    1
Thor Freudenthal       1
Name: director, Length: 332, dtype: int64


# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [49]:
"""
We make a list of companies. Then make a list of length of the titles of their films 
and find the mean value for each company. And create a dictionary out of it.
"""
companies = data.production_companies.str.cat(sep='|').split('|')
dict_of_companies = {c: mean_counter([len(x) for x in data[data.production_companies.map(
    lambda y:  True if c in y else False)].original_title.str.cat(sep='|').split('|')]) for c in companies}
pd.Series(dict_of_companies).sort_values(ascending=False)

Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Berlanti Productions           3.0
Everest Entertainment          3.0
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Length: 1771, dtype: float64

Вариант 2

In [50]:
"""
Or we can create a new column of title length(preprocessing cell) in order to shorten the code
"""
companies = data.production_companies.str.cat(sep='|').split('|')
dict_of_companies_2 = {c: mean_counter([x for x in data[data.production_companies.map(
    lambda y:  True if c in y else False)].title_length]) for c in companies}
pd.Series(dict_of_companies).sort_values(ascending=False)

Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Berlanti Productions           3.0
Everest Entertainment          3.0
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Length: 1771, dtype: float64

In [51]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [52]:
"""
We create list of length of their overviews for each company and find the mean value of it.
And make a dictionary of companues with the mean length of overview.
Then turn it inro Series to sort the values and find the max
"""
overviews = {c: mean_counter([len(x) for x in data[data.production_companies.map(
    lambda y: True if c in y else False)].overview.str.cat(sep='|').split('|')]) for c in companies}
pd.Series(overviews).sort_values(ascending=False)

Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Henceforth                                 74.0
Projection Pictures                        74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Length: 1771, dtype: float64

In [53]:
answers['25'] = 'Midnight Picture Show'


# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [54]:
"""
We sort the dataset by vote and then find the head 1 percent of it. 
And create a list of original titles of dataset
"""
list(data.sort_values(by='vote_average', ascending=False).head(
    int(len(data)*0.01))['original_title'].values)

['The Dark Knight',
 'Interstellar',
 'The Imitation Game',
 'Inside Out',
 'Room',
 'The Wolf of Wall Street',
 'Gone Girl',
 '12 Years a Slave',
 'Guardians of the Galaxy',
 'The Lord of the Rings: The Return of the King',
 'Memento',
 'Inception',
 'The Pianist',
 'The Grand Budapest Hotel',
 'Her',
 'Spotlight',
 'Big Hero 6',
 'The Fault in Our Stars']

In [55]:
# It is the variant of the question on the platform
answers['26'] = ['The Dark Knight', 'Inside Out', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [56]:
"""
We create dataframe of actors with the column of list of cast.
Then we create a column in our new dataframe with different combinations of actors in one cast.
And we make the list from that combinations and use counter to count the frequency.
Lastly, we turn it into Series to sort the values.
"""
actors = pd.DataFrame({'cast': [x.split('|') for x in data.cast]})
actors['combinations'] = actors['cast'].apply(
    lambda x: list(it.combinations(x, 2)))
pd.Series(Counter([pairs for cast in actors['combinations']
                   for pairs in cast])).sort_values(ascending=False)

Daniel Radcliffe  Emma Watson             8
                  Rupert Grint            8
Rupert Grint      Emma Watson             7
Johnny Depp       Helena Bonham Carter    6
Ben Stiller       Owen Wilson             6
                                         ..
Emma Stone        Josh Brolin             1
Ryan Gosling      Nick Nolte              1
                  Josh Brolin             1
Sean Penn         Nick Nolte              1
Chris Pratt       Bryce Dallas Howard     1
Length: 18121, dtype: int64

In [57]:
answers['27'] = 'Daniel Radcliffe and Rupert Grint or Daniel Radcliffe and Emma Watson'

# Submission

In [58]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110.0,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriquez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Dark Knight', 'Inside Out', '12 Years a Slave'],
 '27': 'Daniel Radcliffe and Rupert Grint or Daniel Radcliffe and Emma Watson'}

In [59]:
# и убедиться что ни чего не пропустил)
len(answers)

27