In [286]:
import pandas as pd
from collections import Counter
import itertools as it

In [287]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
575,tt0192111,14000000,10424470,Head Over Heels,Monica Potter|Freddie Prinze Jr.|Shalom Harlow...,Mark Waters,Unleash your inner model.,Ordinary single girl Amanda Pierce (Monica Pot...,86,Comedy|Romance,Universal Studios,2/2/2001,5.3,2001
1767,tt0419887,20000000,73276047,The Kite Runner,Khalid Abdalla|Atossa Leoni|Shaun Toub|Zekeria...,Marc Forster,There is a way to be good again.,The Kite Runner is a 2007 American drama film ...,128,Drama,DreamWorks SKG|MacDonald/Parkes Productions|Si...,10/14/2007,7.3,2007
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013
334,tt1201167,75000000,61458982,Funny People,Adam Sandler|Seth Rogen|Leslie Mann|Eric Bana|...,Judd Apatow,"George Simmons was prepared to die, but then a...",Famous and wealthy funnyman George Simmons doe...,146,Comedy|Drama,Columbia Pictures|Universal Pictures|Happy Mad...,7/31/2009,5.5,2009
1434,tt0383574,200000000,1065659812,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,Gore Verbinski,Jack is back!,The high-seas adventures of happy-go-lucky tro...,151,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,6/20/2006,6.8,2006

In [340]:
display(data.describe())
print(data.info())

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 221.5+ KB
None

# Предобработка

In [341]:
answers = {}
data['profit'] = data['revenue'] - data['budget']
data['release_date'] = pd.to_datetime(data['release_date'])
def mean_counter(numbers):
    return sum(numbers)/len(numbers)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [342]:
answers['1'] = data[data['budget']==data['budget'].max()]['original_title'].values[0]

# 2. Какой из фильмов самый длительный (в минутах)?

In [343]:
answers['2'] = data[data.runtime==data.runtime.max()]['original_title'].values[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [344]:
answers['3'] = data[data.runtime==data.runtime.min()]['original_title'].values[0]

# 4. Какова средняя длительность фильмов?

In [345]:
answers['4'] = round(data.runtime.mean(),0)

# 5. Каково медианное значение длительности фильмов?

In [346]:
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [347]:
answers['6'] = data[data.profit == data.profit.max()]['original_title'].values[0]

# 7. Какой фильм самый убыточный?

In [348]:
answers['7'] = data[data.profit == data.profit.min()]['original_title'].values[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [349]:
answers['8'] = len(data[data.revenue > data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [350]:
revenue_2008 = data[data.release_year == 2008].revenue.max()
answers['9'] = data[(data.release_year==2008)&(data.revenue == revenue_2008)]['original_title'].values[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [351]:
min_profit_12_14 = data[(data.release_year>2012)&(data.release_year<=2014)].profit.min()
answers['10'] = data[(data.release_year>2012)&(data.release_year<=2014)&(data.profit == min_profit_12_14)]['original_title'].values[0]

# 11. Какого жанра фильмов больше всего?

In [352]:
all_genres = pd.Series(Counter(data.genres.str.cat(sep='|').split('|')))
answers['11'] = all_genres.sort_values(ascending=False).head(1).index.values[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [353]:
data_profit = data[data.profit>0]
profitable_genres = Counter(data_profit.genres.str.cat(sep='|').split('|'))

In [354]:
answers['12'] = pd.Series(profitable_genres).sort_values(ascending=False).head(1).index.values[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [355]:
directors = {d: sum([d for d in data[data.director.str.contains(d)].revenue]) for d in data.director}
answers['13'] = pd.Series(directors).sort_values(ascending=False).head(1).index.values[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [356]:
directors = data.director.str.cat(sep='|').split('|')
action_directors = {d: len([g for g in data[data.director.str.contains(d)].genres.str.cat(sep='|').split('|') if g=='Action']) for d in directors}

In [357]:
answers['14'] = pd.Series(action_directors).sort_values(ascending=False).head(1).index.values[0]

Вариант 2

In [358]:
action_directors = Counter(data[data.genres.str.contains('Action')].director.str.cat(sep='|').split('|'))
pd.Series(action_directors).sort_values(ascending=False).head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [359]:
data_2012 = data[data.release_year == 2012]
cast = data_2012.cast.str.cat(sep='|').split('|')
dict_actors = {x: sum(data_2012[data_2012.cast.str.contains(x)].revenue)for x in cast}
answers['15'] = pd.Series(dict_actors).sort_values(ascending=False).head(1).index.values[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [360]:
high_budget = data[data.budget>data.budget.mean()]
actors = Counter(high_budget.cast.str.cat(sep='|').split('|'))
answers['16'] = pd.Series(actors).sort_values(ascending=False).head(1).index.values[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [361]:
Cage_genres = Counter(data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|'))
answers['17'] = pd.Series(Cage_genres).sort_values(ascending=False).head(1).index.values[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [362]:
paramount_films = data[data.production_companies.str.contains('Paramount Pictures')]
answers['18'] = paramount_films[paramount_films.profit == paramount_films.profit.min()].original_title.values[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [363]:
all_years_revenue = {x: sum(data[data.release_year== x].revenue) for x in data.release_year}
answers['19'] = pd.Series(all_years_revenue).sort_values(ascending=False).head(1).index.values[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [364]:
warners = data[data.production_companies.str.contains('Warner Bros')]
all_years_profit = {x: sum(warners[warners.release_year==x].profit)for x in warners.release_year}
answers['20'] = pd.Series(all_years_profit).sort_values(ascending=False).head(1).index.values[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [369]:
months = [m.strftime('%B') for m in data.release_date]
films_by_months = {m: len([x for x in data.release_date if x.strftime('%B')==m]) for m in months}
answers['21'] = pd.Series(films).sort_values(ascending=False).head(1).index.values[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [370]:
answers['22'] = len([m for m in data.release_date if m.month>5 and m.month<9])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [371]:
winter_directors = {d: len([m for m in data[data.director.str.contains(d)].release_date if m.month in [1,2,12]]) for d in directors}
answers['23'] = pd.Series(winter_directors).sort_values(ascending=False).head(1).index.values[0]


# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [372]:
companies = data.production_companies.str.cat(sep='|').split('|')
symbols = {c: mean_counter([len(x) for x in data[data.production_companies.str.contains(c)].original_title.str.cat(sep='|').split('|')]) for c in companies}
answers['24'] = pd.Series(symbols).sort_values(ascending=False).head(1).index.values[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [373]:
overviews  = {c: mean_counter([len(x) for x in data[data.production_companies.str.contains(c)].overview.str.cat(sep='|').split('|')]) for c in companies}
answers['25'] = pd.Series(overviews).sort_values(ascending=False).head(1).index.values[0]


# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [374]:
list(data.sort_values(by='vote_average', ascending=False).head(int(len(data)*0.01))['original_title'].values)

['The Dark Knight',
 'Interstellar',
 'The Imitation Game',
 'Inside Out',
 'Room',
 'The Wolf of Wall Street',
 'Gone Girl',
 '12 Years a Slave',
 'Guardians of the Galaxy',
 'The Lord of the Rings: The Return of the King',
 'Memento',
 'Inception',
 'The Pianist',
 'The Grand Budapest Hotel',
 'Her',
 'Spotlight',
 'Big Hero 6',
 'The Fault in Our Stars']

In [376]:
answers['26'] = ['The Dark Knight', 'Inside Out', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [337]:
actors = pd.DataFrame({'cast': [x.split('|') for x in data.cast]})
actors['combinations'] = actors['cast'].apply(lambda x: list(it.combinations(x,2)))
pd.Series(Counter([pairs for cast in actors['combinations'] for pairs in cast])).sort_values(ascending=False)

Daniel Radcliffe  Emma Watson             8
                  Rupert Grint            8
Rupert Grint      Emma Watson             7
Johnny Depp       Helena Bonham Carter    6
Ben Stiller       Owen Wilson             6
                                         ..
Emma Stone        Josh Brolin             1
Ryan Gosling      Nick Nolte              1
                  Josh Brolin             1
Sean Penn         Nick Nolte              1
Chris Pratt       Bryce Dallas Howard     1
Length: 18121, dtype: int64

In [377]:
answers['27'] = 'Daniel Radcliffe and Rupert Grint'

# Submission

In [378]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110.0,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Dark Knight', 'Inside Out', '12 Years a Slave'],
 '27': 'Daniel Radcliffe and Rupert Grint'}

In [285]:
# и убедиться что ни чего не пропустил)
len(answers)

27